---
import characters from '@/data/characters.json'
import Layout from "../../layouts/Layout.astro";
import {Image} from "astro:assets";

export function nameToSlug(name: string) {
    name = name.toLowerCase();
    name = name.normalize('NFD').replace(/[\u0300-\u036f]/g, '');
    name = name.replace(/[^a-z0-9]+/g, '-');
    return name.replace(/^-+|-+$/g, '');
}
export function getStaticPaths() {
    return characters.map(({name, title, image})=> ({
        params: {character: nameToSlug(name)},
        props: {name, title, image}
    }));
}
const { name, title, image } = Astro.props;
---
<style>
    .character-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
    }
</style>
<Layout title=`El búnquer - ${name}`>
    <main>
        <div class="character-header">
            <h1>{title}</h1>
            <Image
                transition:name=`img-${image}`
                src={image}
                alt={name}
                width="750"
                height="400"
                loading="lazy"
            />
        </div>
    </main>
</Layout>
